.header {
  height: 90px;
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  z-index: 100;
}

.inner {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md);
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.search {
  width: 200px;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-gray-0);
  }
}

.dropdownLink {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  width: 100%;

  @mixin hover {
    background-color: var(--mantine-color-gray-0);
  }
}